@model  Proprietario
@{ 
    ViewData["Title"] = "Cadastrar";
}
<h1>Cadastrar</h1>

<form asp-controller="proprietario" asp-action="cadastrar">
    <div class="form-group">
        <label asp-for="ProprietarioId"></label>
    </div>
    <div class="form-group">
        <label asp-for="Nome"></label>
    </div>
    <div class="form-group">
        <label asp-for="Deficiente"></label>
        
    </div>



</form>